$mb: 768px;
$tb: 1024px;
$pc: 1025px;

@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}