@import "color";
@import "component";
body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: $color_primary;
}
ul {
  display: flex;
  list-style-type: none;
}
.mainSec img, footer img {
  width: 100vw;
}
.menuBar {
  height: 60px;
  padding: 10px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
header h1 {
  padding: 15px 0 0 20px;
}
main h2 {
  text-align: center;
  font-size: 60px;
}
