@charset "UTF-8";
* {
  -webkit-appearance: none; /*webkit系ブラウザのデフォルトスタイル*/
}

html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption,
tbody, tfoot, thead, table, label, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #333333;
}

a {
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
}

img {
  max-width: 100%;
}

h2 {
  margin-bottom: 48px;
  text-transform: uppercase;
}

.space {
  margin-bottom: 240px;
}

.btn {
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
  font-size: 24px;
}

.underline {
  position: relative;
}
.underline::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333333;
  bottom: -1px;
  z-index: -1;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.3s;
}
.underline:hover {
  color: rgb(216, 157, 47);
}
.underline:hover::after {
  transform: scale(1, 1);
}

header {
  background-color: #ffffff;
}
header h1 {
  padding: 15px 0 0 20px;
}
header li {
  height: 30px;
  line-height: 30px;
}

.menuBar {
  width: 100vw;
  height: 60px;
  padding: 10px 30px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 100;
}
.menuBar li {
  padding: 5px 10px;
  position: relative;
}
.menuBar li:last-child {
  margin-left: 12px;
  padding-left: 24px;
}
.menuBar li:last-child::before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  content: "";
}

.mv {
  height: 640px;
  margin-top: 64px;
}
.mv #slideshow {
  position: relative;
  width: 90vw; /* 画像の横幅に合わせて記述 */
  height: 468px; /* 画像の高さに合わせて記述 */
}
.mv #slideshow img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0;
}
.mv #slideshow img.active {
  z-index: 10;
  opacity: 1;
}
.mv #slideshow img.last-active {
  z-index: 9;
}
.mv .reserveBtn {
  position: absolute;
  right: -15px;
  top: 320px;
  font-size: 1.1rem;
  transform: rotate(-90deg);
  display: block;
  letter-spacing: 0.4rem;
}
.mv .reserveBtn .bigger {
  display: inline-block;
  transition: all 1.2s ease 0s;
  text-decoration: none;
}
.mv .reserveBtn .bigger:hover {
  transform: scale(1.2);
}

main h2 {
  text-align: center;
  font-size: 32px;
}

.conceptSec {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.conceptSec .img {
  width: 48%;
  max-width: 39rem;
}
.conceptSec .txt {
  width: 52%;
  padding: 0 16px 56px 32px;
  align-self: center;
}
.conceptSec .txt p {
  line-height: 1.8;
}

.styleSec {
  padding: 120px 0;
  background-color: #f5f5f5;
}
.styleSec ul {
  width: 70vw;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */