@import "color";
@import "component";
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: $color_primary;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  display: flex;
  list-style-type: none;
}
.mainSec img, footer img {
  width: 100vw;
}
header {
  background-color: #ffffff;
  h1 {
    padding: 15px 0 0 20px;
  }
  a:hover {
    color: $color-sub-text;
  }
}
.menuBar {
  width: 100vw;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 100;
  li {
    padding: 5px 10px;
  }
}
.innerWrapper {
  height: 498px;
  margin-top: 64px;
  .reserveBtn {
    font-family: "Lato",sans-serif;
    position: absolute;
    right: -32px;
    top: 280px;
    font-size: 1.1rem;
    transform: rotate(-90deg);
    display: block;
    letter-spacing: .4rem;
  }
}
main h2 {
  text-align: center;
  font-size: 60px;
}